.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.75rem;
  color: #fff;
  letter-spacing: 1rem;
}

.Header > svg {
  transform: scale(1.2);
  cursor: pointer;
}

.toggle {
  outline: none;
  border: none;
  background: transparent;
}

.toggle:focus-visible {
  outline: 3px dotted var(--typography);
}

@media (max-width: 500px) {
  .logo {
    font-size: 2rem;
  }
}
