@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --check-gradient: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --hover: hsl(236, 33%, 92%);
  --active: hsl(234, 94%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

div[data-theme="light"] {
  --app-background: hsl(236, 33%, 92%);
  --todo-background: hsl(0, 0%, 98%);
  --typography: hsl(235, 19%, 35%);
  --border-color: hsl(236, 33%, 92%);
  --muted-typography: hsl(234, 39%, 85%);
}

div[data-theme="dark"] {
  --app-background: hsl(235, 21%, 11%);
  --todo-background: hsl(235, 24%, 19%);
  --typography: hsl(234, 39%, 85%);
  --border-color: hsl(235, 19%, 35%);
  --muted-typography: hsl(235, 19%, 35%);
}
