.Todo {
  display: flex;
  align-items: center;
  padding: 1rem 4rem 1rem 2rem;
  background-color: var(--todo-background);
  font-size: 1rem;
  animation: fadeIn 300ms ease;
  transition: transform 250ms ease-in;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.Drag {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: var(--muted-typography);
  box-shadow: inset -5px 0 var(--typography);
  border-radius: 5px 0 0 5px;
  z-index: 1;
  cursor: grabbing;
}

.checkbox {
  margin-right: 1rem;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  outline: none;
}

.check {
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background: var(--check-gradient);
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
}

.todo-content {
  color: var(--typography);
  cursor: pointer;
}

.delete {
  opacity: 0;
  margin-left: auto;
  outline: none;
}

.check,
.delete {
  transition: opacity 300ms ease-in-out;
}

.checked {
  opacity: 1;
}

.done {
  text-decoration: line-through;
  color: var(--muted-typography);
}

.Todo:hover .delete,
.delete:focus {
  opacity: 1;
}

.delete:focus,
.checkbox:focus {
  outline: 3px dotted var(--typography);
}

@keyframes fadeIn {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1, 0);
  }
}

.deleting {
  animation: fadeOut 300ms ease;
}
